{% extends "base.html" %}
{% block content %}
  <a class="btn btn-light navbar-brand float-right" href="{% url 'create_note' %}">
    Add note <i class="bi bi-pen"></i>
  </a> 

  <br>

  {% if all_notes %}
    <h3> Your Notes:</h3>
    <div class="row">
      <div class="col-md-9">
        {% for note in all_notes %}
          <div class="card" style='margin-bottom: 24px'>
  		      <div class="card-header">
  		        {% for nt in note.tags_list %}
                <a href="{%url 'list_by_tag' nt.name %}">
                  <span class="badge badge-dark"> {{ nt.name }} </span>
                </a>
              {% endfor %}
              <a class="btn btn-light navbar-brand float-right" href="{% url 'update_note' pk=note.pk %}">
                <i class="bi bi-pencil"></i>
              </a>
              <a class="btn btn-light navbar-brand float-right" href="{% url 'note_delete' pk=note.pk %}">
                <i class="bi bi-trash"></i>
              </a>
            </div>

  		      <div class="card-body">
              <p class="card-text">
  				      {{ note.text }}
              </p>
            </div>
          </div>
	     {% endfor %}
      </div>

        <div class="col-md-3" style="background: white">
          <form method="get" action="{% url 'account:notes' %}">
            <button type='submit' class="btn btn-secondary btn-block my-2"> Filter </button>
            <input value='{{ request.GET.term }}' name="term" class="form-control" placeholder="search...">
            <hr></hr>
            {% for tag in user_tags %}
              <div class="list-group align-baseline">
                <div class="col-md-4">
                  <input class="form-check-input me-1" type="checkbox" value="{{ tag.name }}" name="tags" {% if tag.name in filtered_tags_names %} checked {% endif %}>
                  <a href="{% url 'list_by_tag' tag.name %}">{{ tag.name }}</a>
                </div>
            </div>
            {% endfor %} 
        </form>
      </div>
    </div>

  {% else %}
	 <h5> You do not have any notes yet! </h5>
  {% endif %}
{% endblock %}


