{% extends "base.html" %}
{% block content %}
  <a class="navbar-brand float-right" href="{% url 'create_note' %}">
    <button type="button" class="btn btn-light"> Add note <i class="bi bi-pen"></i></button>
  </a> <br>

  {% if all_notes %}
    <h3> Your Notes:</h3>
    <div class="row">
      <div class="col">
        {% for note in all_notes %}
          <div class="card" style='margin-bottom: 24px'>
  		      <h5 class="card-header" style="max-height: 58px">
		        {% for nt in note.tags_list %}
            <a href="{%url 'list_by_tag' nt.name %}">
            <span class="badge badge-dark"> {{ nt.name }} </span>
            </a>
            {% endfor %}
            <a class="navbar-brand float-right" href="{% url 'update_note' pk=note.pk %}"><button type="button" class="btn btn-light"><i class="bi bi-pencil"></i></button></a>
            <a class="navbar-brand float-right" href="{% url 'note_delete' pk=note.pk %}"><button type="button" class="btn btn-light"><i class="bi bi-trash"></i></button></a>
  		      </h5>
  		      <div class="card-body">
  			       <p class="card-text">
  				      {{ note.text }}
  			       </p>
            </div>
          </div>
	     {% endfor %}
      </div>

      <form method="get" action="{% url 'account:notes' %}">
        <div class="col">
          <button type='submit' class="btn btn-secondary btn-block my-2"> Filter </button>
          <input value='{{ request.GET.term }}' name="term" class="form-control" placeholder="search...">
          <hr></hr>
          {% for tag in user_tags %}
            <div class="list-group align-baseline">
              <div class="col">
                <input class="form-check-input me-1" type="checkbox" value="{{ tag.name }}" name="tags" {% if tag.name in filtered_tags_names %} checked {% endif %}>
                  <a href="{% url 'list_by_tag' tag.name %}">{{ tag.name }}</a>
              </div>
            </div>
          {% endfor %} 
      </form>
    </div>

  {% else %}
	 <h5> You do not have any notes yet! </h5>
  {% endif %}
{% endblock %}


