{% extends "base.html" %}

{% block content %}


	<div class="card">
  <h5 class="card-header"> Instructions to get started </h5>
  <div class="card-body">
    <h5 class="card-title">Please follow the steps bellow:</h5>
    <p class="card-text">1. Login to your Telegram app and search for:<br>  <a href="">smart_notes_bot</a></p>
    <p class="card-text">2. Activate your user by sending the following message to the bot<br> 
    	<h6> /code {{ display_user_token }}</h6>
    </p>
    <p class="card-text">3. All done, have fun!</p>
  </div>
</div>
{% endblock %}