{% extends "base.html" %}

{% block content %}


	<div class="card">
  <h5 class="card-header"> Instructions to get started </h5>
  <div class="card-body">
    <h5 class="card-title">Please follow the steps bellow:</h5>
    <p class="card-text">1. Copy the activation token below: <br> 
    	<h6> /code {{ display_user_token }}</h6>
    </p>
    <p class="card-text">2. Click on the link below to connect to smarnotes<br>
        <a href="https://t.me/smart_notes_bot">smart_notes_bot</a>
    </p>
    <p class="card-text">3. All done, have fun!</p>
  </div>
</div>
{% endblock %}